/*  your css code here. If applicable */
.verify-div{
    width: 600px;
    height: 400px;
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#verification_subtext{
    font-size: x-small;
    color: grey;
}
.input_div >input{
    width: 70px;
    height: 120px;
    gap:20px;
    background-color: #e7e7e7;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
   color: grey;
}
.input_div input:focus{
   outline: 1px solid blue;
}
.color-change{
    background-color: black;
    color: white;
}